body {
    margin: 0px;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
}

header {
    background-color: hsl(0, 0%, 70%);
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    margin: 0px;
    list-style-type: none;
    text-align: right;
}

li {
    display: inline-block;
    padding: 15px 0px;
    margin: 0px;
}

.navLinks {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    margin: 0px;
    overflow: hidden;
}

.navLinks:hover {
    color: white;
    background-color: #808080;
}

.navLinks:active {
    color: white;
    background-color: #404040;
}

#imageAndNameContainer{
    margin-top: 50px;
    height: 400px;
    display: grid;
    grid-template-columns: 1 / span 2;
}

#mainImageContainer {
    grid-column: 1 / span 1;
}

#nameAndTitleContainer {
    grid-column: 2 / span 1;
}

#nameAndTitleText {
    text-align: center;
    margin-top: 160px;
}

.subtitle {
    margin-left: 5px;
}

.aboutMeParagraph {
    margin-left: 5px;
}